{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
  <div class="jumbotron" id="cover">
    <div class="container">
      <h1>D3Connect</h1>
      <p class="site-description indent">
    
      </p>
      <p class="indent">
        <a class="btn btn-primary btn-lg btn-homepage btn-font" href="/signup" role="button"><span class="fa fa-user-plus" aria-hidden="true"></span> Sign up</a>
        <a class="btn btn-primary btn-lg btn-homepage btn-font" href="/login" role="button"><span class="fa fa-sign-in" aria-hidden="true"></span> Login</a>
      </p>
    </div><!-- /.container -->
  </div><!-- /.jumbotron -->

  <div class="container" id="features-section">
    <h2>Features</h2>
    <br><br>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <span class="fa-stack fa-3x features-icon">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Connect With Friends</h3>
        <p>Connect with your friends.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <span class="fa-stack fa-3x features-icon">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-group fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Make groups</h3>
        <p>Make groups with people having same interests.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <span class="fa-stack fa-3x features-icon">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Chat</h3>
        <p>Chat with friends and family</p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
{% endblock %}