{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}

  <center><h1>Users</h2></center>
    <br>
    <br>
  
  <!-- Display list of all users -->
  <ul style="list-style-type:none;">
    {% for user in users %}
        <center>
        <li>
          <a href="/users/{{ user.user_id }}" style="font-size: 40px">
            {{ user.first_name }} {{user.last_name}}
          </a>
          <span>
            <button type="submit" class="btn btn-primary" id="add-friend-btn" onclick="sendFriendRequest({{ user.user_id }})"><span class="fa fa-user-plus" aria-hidden="true"> Add Friend</button>
          </span>
        </li>
      </center>
        <br>
    {% endfor %}
  </ul>
  <br>
  <br>
  <center><a href="http://localhost:5001/{{session.current_user.first_name}}"><h2>Invite to Group</h2></a></center>

{% endblock %}
{% block javascript %}
  <script src="/static/js/add-suggestion.js/"></script>
{% endblock %}
