{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}

  <center><h1>Users</h2></center>
    <br>
    <br>
  
  <!-- Display list of all users -->
  <ul style="list-style-type:none;">
    {% for user in users %}
        <center>
        <li>
          <a href="/users/{{ user.user_id }}" style="font-size: 40px">
            {{ user.first_name }} {{user.last_name}}
          </a>
          <span> <form id="add-friend-form" action="/add-friend" method="post">
                <button type="submit" class="btn btn-primary" id="add-friend-btn"><span class="fa fa-user-plus" aria-hidden="true"></span> Add Friend</button>
              </form></span>
        </li>
      </center>
        <br>
    {% endfor %}
  </ul>


{% block javascript %}
  <script src="/static/js/add-friend.js"></script>
{% endblock %}
{% endblock %}